<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muilat.android.med_manager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignedInActivity" />

        <uses-permission android:name="android.permission.INTERNET" />

        <activity android:name=".AddMedicationActivity"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
        <!-- Register the TaskContentProvider -->
        <!-- Set name, authorities, and exported attributes -->
        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name="com.muilat.android.med_manager.data.MedicationContentProvider"
            android:authorities="com.muilat.android.med_manager"
            android:exported="false"/>
    </application>

</manifest>